* {
    padding: 0;
    margin: 0;
}

header {
    background-size: 2000px;
    padding-top: 27px;
    background-image: url(../images/background.jpg);
}

.container_header {
    max-width: 1188px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    margin-top: 12px;
}

.navigation {
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.navigation_number {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.navigation_call {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}

/* setion one main banner  */
.section_one {
    background-image: url(../images/background.jpg);
    background-size: 2000px;
    height: 100vh;
    background-position-y: -88px;
}



.container {
    max-width: 1188px;
    margin: auto;
}

.section_one .container {
    padding: 88px 0 34px;
}

h1 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    text-shadow: 0px 0px 166px #000000;
    margin-bottom: 30px;
}

.article_section_one {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 36px 40px;
    max-width: 512px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    display: flex;
    margin-bottom: 98px;
}

.img_article {
    margin-right: 30px;
}

.button_section_one {
    max-width: 255px;
    padding: 20px 48px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

/* section two */
.about-us {
    padding: 14px 0 158px;
    position: relative;
}

.training-dot-top {
    width: 100%;
    margin-bottom: 160px;
}

.about-us .container h2 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 60px;
}

.about-us .container .description-about-us p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.about-us .container .description-about-us p:first-of-type {
    margin-bottom: 46px;
}


.description-about-us {
    max-width: 374px;
}

.training-photo-bat {
    max-width: 770px;
    height: 530px;
    position: absolute;
    top: 260px;
    right: 0;
}

.training-photo-bat img {
    width: 100%;
}




/* section three */
.section_three {
    padding: 21px 0 200px;
}

.doted_pic_section_three {
    margin-bottom: 200px;
    width: 100%;
}

.conteiner_section_three {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.h_section_three {
    margin-bottom: 30px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    width: 410px;
}

.input {
    border: none;
    border-bottom: 1px solid black;
    max-width: 392px;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5)
}

.textarea_section_three {
    border: none;
    border-bottom: 1px solid black;
    max-width: 392px;
    width: 100%;
    padding-bottom: 10px;
    height: 21px;
    resize: none;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5)
}

.chair_div {
    max-width: 615px;
}

.chair {
    width: 100%;
}

.button_form {
    width: 255px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 50px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
}

/* section catalog of factures  */

.catalog-of-factures {
    padding: 30px 0 150px;
}

.dot-img-catalog {
    width: 100%;
    margin-bottom: 150px;
}



.catalog-of-factures .container h4 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-bottom: 52px;
    position: relative;
    left: 95px;
}

.description-for-catalog-top {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 40px;
}

.description-for-catalog-bottom {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 70px;
}

.top-catalog {
    display: flex;
    justify-content: space-between;
}

.box-for-catalog {
    max-width: 255px;
}

.catalog-pic {
    width: 100%;
    margin-bottom: 20px;
}

.bottom-catalog {
    display: flex;
    justify-content: space-between;
}

.button-catalog-section {
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 46px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}

.catalog-of-factures .button-catalog-section {
    display: block;
    margin: auto;
    width: 255px;
    box-sizing: border-box;
}

/* section with media and video */

.media-section-with-video {
    padding: 60px 0 95px;
    background-image: url(../images/background_video_new.png);
    background-color: rgba(76, 96, 113, 1);
}

.media-section-with-video .container h5 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    position: relative;
    left: 96px;
    margin-bottom: 85px;
}

.video-block {
    max-width: 255px;
    position: relative;
}

.box-video {
    width: 100%;
    border-radius: 23px;
    margin-bottom: 20px;
}

.media-section-with-video .container .video-block p:first-of-type {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.media-section-with-video .container .video-block p:last-of-type {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.play-video-block {
    position: absolute;
    top: 78px;
    right: 85px;
}

.media-wraper {
    display: flex;
    justify-content: space-between;
}

/* section training */